select {
    width: 30%;
    height: 8vh;
}
option {
    color: white;
    background-color: rgb(37, 37, 37);
}
label {
    margin: 1% auto;
}
.seccion-form{
    margin: 4% 0;
}
.campo-form {
    width: 20%;
    height: 40px;
}