table {
    width: 98%;
    background-color: white;
    border-collapse: collapse;
    margin: 0 auto;
}
th {
    background-color:black;
    color: white;
}
td {
    padding: 4% 1%;
    text-align: center;
    border: 1px solid black;
    
}
.titulo-pagina {
    color: white;
    margin-top: 4%;
}